# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
venv/
.venv/
env/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
